* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

.main {
    min-width: 100%;
    min-height: 100vh;
    background: var(--Off-Black);
    display: grid;
    place-content: center;
}

.card {
    height: 10rem;
    width: 10rem;
    background: var(--Dark-Grey);
    border-radius: 8px;
    display: grid;
}


